.popupRemoveViewed {
  &__close {
    width: 488px;
  }

  &__content {
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    margin: 0 auto 24px auto;
  }

  &__text {
    padding: 0 0 32px 0;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    border-bottom: 2px solid var(--colorLightGrey);
  }

  &__button {
    width: 100%;
    max-width: 190px;
    margin: 24px 0 0 0;
  }
}


@media screen and (max-width: 475px) {
  .popupRemoveViewed {
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }

    &__image {
      width: 42px;
      height: auto;
    }

    &__text {
      font-size: 16px;
      line-height: 21px;
      padding: 0 0 22px 0;
    }

    &__arrow {
      right: 20px;
      font-size: 16px;
    }

    &__button {
      width: 100%;
      max-width: unset;
    }

    .popup__cancel {
      order: 2;
      margin: 12px 0 0 0;
    }
  }
}