.productsSet {
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0 0 24px 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: var(--colorBlack);
  }

  &__link {
    margin: 0 0 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: var(--colorBlue);

    &Desktop {
      svg {
        margin: 0 0 0 4px;
        transition: all 0.2s;
      }

      &:hover {
        svg {
          transform: translate(2px, 0);
        }
      }
    }

    &Mobile {
      display: none;
    }
  }

  &__list {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__product {
    width: 240px;
    padding: 24px;
  }

  &__banner {
    width: 240px;
  }

  &__bottom {
    width: 100%;
    text-align: center;
    margin: 32px auto 0 auto;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 506px;
      height: 2px;
      background-color: #d7d7d8;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 506px;
      height: 2px;
      background-color: #d7d7d8;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }

  &__more {
    margin: 0;
    padding: 12px 24px;
    font-weight: 500;
    color: var(--colorDarkGrey);
    font-size: 16px;
    line-height: 130%;
    border: 2px solid #d7d7d8;
    border-radius: 24px;
    cursor: pointer;
    background-color: transparent;
    transition: border 0.3s, color 0.3s;

    &:hover {
      color: var(--colorBlue);
      border-color: var(--colorBlue);
    }

    &:active {
      padding: 14px 24px 10px 24px;
      transition: none;
    }
  }
}

@media screen and (max-width: 1280px) {
  .productsSet {
    &__list {
      max-width: 930px;
    }

    &__product {
      width: 182px;
      padding: 16px;
    }

    &__banner {
      width: 182px;
    }

    &__bottom {
      &:before,
      &:after {
        width: 100%;
        max-width: 363px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .productsSet {
    &__list {
      max-width: unset;
      overflow: auto;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      &::before {
        content: '';
        display: block;
        padding: 0 15px;
        background: transparent;
      }

      &::after {
        content: '';
        display: block;
        padding: 0 15px;
        background: transparent;
      }
    }

    &__product {
      width: 224px;
      min-width: 224px;
      margin: 0 4px 0 0;
    }

    &__banner {
      width: 224px;
      min-width: 224px;
    }

    &__bottom {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .productsSet {
    &__list {
      &::before {
        padding: 0 12px;
      }

      &::after {
        padding: 0 12px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .productsSet {
    &__title {
      font-size: 24px;
      line-height: 31px;
    }

    &__link {
      margin: 0 0 24px 0;

      &Desktop {
        display: none;
      }

      &Mobile {
        display: flex;
      }
    }

    &__product {
      width: 182px;
      min-width: 182px;
    }

    &__banner {
      width: 182px;
      min-width: 182px;
    }
  }
}
